<!DOCTYPE html>
<html>
<head>
	<title>egames</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='firstflask.css')}}">
</head>
<body>
	<h1>E games are the best</h1>

	<p>
		my favorite gamers are:
	</p>
	<ol>
        {% for player in players %}
        <li> {{player}} </li>
    	{% endfor %}



    	{% if likes_same_sport == False%}
    	<p>oh, you like differnt sports</p>
    	{% else %}
        <p> I like the same sport!</p>
		{% endif %}
    </ol>

</body>

</html>